<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>my chat room</title>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <div class="cover">
        <div class="container">
         <% profiles.forEach((get)=>{ %>

            <div class="each_profile" onclick="func('<%= get.name %>','<%= get.comment%>','<%= get._id %>')">
                <div class="avatar"> <img src="images/outline_account_circle_black_24dp.png" alt=""></div>
                <div class="profile">
                    <div class="name"><%= get.name%></div>
                    <div class="comment"><%= get.comment %></div>
                </div>
            </div>
            

         <% })%>         
        </div>
    </div>
    <div class="popup" id="mydiv">
      <div  class="popupName" id="move"><div id="contact" >name</div> <div id="shrink" class="shrink"><img src="images/outline_highlight_off_black_24dp.png" alt="close"></div></div>
        <div class="chatarea" id="compose" >
            
        </div>
        <div class="compose" >
            <form action="/sendMessage" method="post">
               
                 <section ><input type="text" class="inputmsg" name="message" id="message"></section>
                <section><input type="button" class="send" id="disable" value="send" ></section> 
                <input type="text" name="recieverid"  id="data" value="yes" class="meta">
                <input type="text" name="senderid"  id="data2" class="meta">
        </form>
           
        </div>
    </div>
  

    <script>
        var refress = true
        setInterval(()=>{
            if (refress) {
                 refresh() 
                 refress = false 
            }
            else{
              document.getElementById("disable").disabled = false
            }
 
                        
        },500)
        
function refresh(){
                var reqq = new XMLHttpRequest()
                reqq.responseType = "json"
                reqq.onload = function () {
                    refress = true
                    //alert("refreshed")
                    var ress = reqq.response.name
                    var button = document.getElementById("compose") 
                    button.innerHTML = " "  

                    ress.forEach( (element) => { 
        if(((getCookie("recieverid") == element.recieverid ) && (getCookie("userID") ==  element.senderid)) || ((element.senderid == getCookie("recieverid")) && (element.recieverid == getCookie("userID"))))
        
        {
           // alert(getCookie("recieverid"))
            //creat the message elements             
             var elle = document.createElement("div");
            var msg = document.createElement("div");
            var date = document.createElement("div");
            //setting the infos
            msg.innerHTML = element.message ;
            date.innerHTML = element.date ;
            
            contact.innerHTML = getCookie("name")
            //settting the attributes
            msg.setAttribute("class","msg")
            date.setAttribute("class","date")
            elle.setAttribute("class","elle")
            //appending the elements
            elle.appendChild(msg);
            elle.appendChild(date); 
            button.appendChild(elle);
               
        }
        
       
     });
                }                
               reqq.open("POST", '/refresh')
               reqq.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
               reqq.send("var=john")
               //alert("sent")

}

              
           



var disable = document.getElementById("disable")
disable.disabled = false

disable.addEventListener("click",()=>{

 var message = document.getElementById('message').value
 var reciever = document.getElementById('data').getAttribute('value')
 var sender = document.getElementById('data2').getAttribute('value')
  var msg = "message="+message+"&"+
            "recieverid="+reciever+"&"+
            "senderid="+sender;
document.getElementById('message').value = ""
            
           

  //make a connection to server and send the message
  var sendMessage = new XMLHttpRequest()
  sendMessage.onload = function () {refress = true; document.getElementById("disable").disabled = true}
  sendMessage.open("POST", "/sendMessage")
  sendMessage.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded")
  sendMessage.send(msg)
  document.getElementById("disable").disabled = false

})
if(<%= begin %>)
{
document.getElementById("mydiv").style.display = "none";
}
var shrink = document.getElementById("shrink")
shrink.addEventListener('click',()=>{
document.getElementById("mydiv").style.display = "none";
})
var disable = document.getElementById("disable")
disable.disabled = false
//set the coockie%
setCookie("userID","<%= coockie%>",2)
//js funtioning check


if(getCookie("recieverid"))
{
     // alert("is suppose to chat")
    //declare meta infos
    var contact = document.getElementById("contact")
    var sid = getCookie("recieverid")
    var button = document.getElementById("compose")  
    var user = document.getElementById("data2")
    var friendid = document.getElementById("data")
    friendid.setAttribute("value",sid)
    user.setAttribute("value",getCookie("userID"))
    user.dataset.state = 'valid' 
    friendid.dataset.state = 'valid'
   //alert("name :"+name+" comment:"+comment+"secondary id:"+sid+" user id:"+getCookie("userID"))
     //wipe out the chat area
     button.innerHTML = " " 
    //loop through all messages in the data base and selecting the right ones
    
    <% message.forEach(element => { %>
        
        if (((getCookie("recieverid") == '<%=element.recieverid %>') && (getCookie("userID") == '<%= element.senderid%>'))  || (('<%=element.senderid%>'==sid) && ('<%=element.recieverid%>'== getCookie("userID"))) )
      // if((getCookie("recieverid") == '<%=element.recieverid %>') && (getCookie("userID") == '<%= element.senderid %>') || (('<%= element.senderid%>' == getCookie("recieverid")) && ('<%element.recieverid%>' == getCookie("userID"))))
        {
           // alert(getCookie("recieverid"))
            //creat the message elements             
             var elle = document.createElement("div");
            var msg = document.createElement("div");
            var date = document.createElement("div");
            //setting the infos
            msg.innerHTML = "<%= element.message %>";
            date.innerHTML = "<%= element.date %>";
            
            contact.innerHTML = getCookie("name")
            //settting the attributes
            msg.setAttribute("class","msg")
            date.setAttribute("class","date")
            elle.setAttribute("class","elle")
            //appending the elements
            elle.appendChild(msg);
            elle.appendChild(date); 
            button.appendChild(elle);
               
        }
        
       
    <% }); %>
  

}

//function to disable msg send 


//fuction for adding message to chat box
function func(name,comment,sid)
{
  document.getElementById("mydiv").style.display = "block";
  setCookie("recieverid",sid,2)
  setCookie("name",name,2)
    //declare meta 
    var disable = document.getElementById("disable")
    var contact = document.getElementById("contact")
    var button = document.getElementById("compose")  
    var user = document.getElementById("data2")
    var friendid = document.getElementById("data")
    friendid.setAttribute("value",sid)
    user.setAttribute("value",getCookie("userID"))
    user.dataset.state = 'valid' 
    friendid.dataset.state = 'valid'
    contact.innerHTML = name
  // alert("name :"+name+" comment:"+comment+"secondary id:"+sid+" user id:"+getCookie("userID"))
     //wipe out the chat area
     button.innerHTML = " " 
    //loop through all messages in the data base and selecting the right ones
    <% message.forEach(element => { %>
       // alert("the")
       // if (((sid == '<%=element.recieverid %>') && (getCookie("userID") == '<%= element.senderid%>')) || (('<%=element.senderid%>'==sid) && ('<%=element.recieverid%>'== getCookie("userID"))) )
        if(((getCookie("recieverid") == '<%=element.recieverid %>') && (getCookie("userID") == '<%= element.senderid %>')) || (('<%=element.senderid%>' == sid) && ('<%=element.recieverid%>' == getCookie("userID"))))
       {// alert("one")
            //creat the message elements             
             var elle = document.createElement("div");
            var msg = document.createElement("div");
            var date = document.createElement("div");
            //setting the infos
            msg.innerHTML = "<%= element.message %>";
            date.innerHTML = "<%=element.date %>";
            //settting the attributes
            msg.setAttribute("class","msg")
            date.setAttribute("class","date")
            elle.setAttribute("class","elle")
            //appending the elements
            elle.appendChild(msg);
            elle.appendChild(date); 
            button.appendChild(elle);
              // alert("checked")
        }

    <% }); %>
}

    //setting coockies
function setCookie(cname, cvalue, exdays) {
const d = new Date();
d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
let expires = "expires="+d.toUTCString();
document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
//get coockies function
function getCookie(cname) {
let name = cname + "=";
let ca = document.cookie.split(';');
for(let i = 0; i < ca.length; i++) {
let c = ca[i];
while (c.charAt(0) == ' ') {
c = c.substring(1);
}
if (c.indexOf(name) == 0) {
return c.substring(name.length, c.length);
}
}
return "";
}
//checking cookie function

function checkCookie() {
let user = getCookie("username");
let use
if (user = "") {
alert("Welcome again " + user);
} else {
user = prompt("Please enter your name:"+"<%= coockie%>ttt", "");
if (user != "" && user != null) {
setCookie("username", user, 365);
}
}
}

//dragable mouse pop up functions

// Make the DIV element draggable:
dragElement(document.getElementById("mydiv"));

function dragElement(elmnt) {
var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
if (document.getElementById("move")) {
// if present, the header is where you move the DIV from:
document.getElementById("move").onmousedown = dragMouseDown;
} else {
// otherwise, move the DIV from anywhere inside the DIV:
elmnt.onmousedown = dragMouseDown;
}

function dragMouseDown(e) {
e = e || window.event;
e.preventDefault();
// get the mouse cursor position at startup:
pos3 = e.clientX;
pos4 = e.clientY;
document.onmouseup = closeDragElement;
// call a function whenever the cursor moves:
document.onmousemove = elementDrag;
}

function elementDrag(e) {
e = e || window.event;
e.preventDefault();
// calculate the new cursor position:
pos1 = pos3 - e.clientX;
pos2 = pos4 - e.clientY;
pos3 = e.clientX;
pos4 = e.clientY;
// set the element's new position:
elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
}

function closeDragElement() {
// stop moving when mouse button is released:
document.onmouseup = null;
document.onmousemove = null;
}
}

    
    </script>
</body>
</html>