<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>my chat room</title>
    <link rel="stylesheet" href="css/chat.css">
</head>
<body>
    <div class="cover">
      <div class="links">
        <div class="disconect" id="disconect">disconnect</div>
      </div>
      <div class="update">
        <div class="user-container">
          <div class="user-icon-container">
            <div class="user-icon" id="user_icon"></div>
          </div>
          
          <div class="name" id="uname">Name</div>
          <div class="comment" id="ucomment">comment</div>
        </div>
      </div>
        <div class="container">
         <% profiles.forEach((get)=>{
          
         if (coockie != get._id){

          %>

            <div class="each_profile" onclick="func('<%= get.name %>','<%= get.comment%>','<%= get._id %>')" data-tilt  data-tilt-reverse="true">
                <div class="avatar"> <img src="images/outline_account_circle_black_24dp.png" alt=""></div>
                <div class="profile">

                <div class="svg-container">
                  <svg version= "1.1" class="svg" viewBox="0 0 500 500" 
                  preserveAspectRatio="xMinYMin meet" >
                  <path  d = "M 0 200 l 0 -100 q 100 -50 200 0 q 100 50 299.99 0 l 0 100 " stroke ="#b8b9b6" fill =" rgb(160, 2, 107)"/>
                  </svg>
                </div>

                <div class="info">
                   <div class="name"><%= get.name%></div>
                    <div class="comment"><%= get.comment %></div>
                </div>
                   
                </div>
            </div>
            

         <% }})%>         
        </div>
    </div>
    <div class="popup" id="mydiv">
      <div  class="popupName" id="move"><div id="contact" >name</div> <div id="shrink" class="shrink"><img src="images/outline_highlight_off_black_24dp.png" alt="close"></div></div>
        <div class="chatarea" id="compose" >
            
        </div>
        <div class="compose" >
            <form action="/sendMessage" method="post">
               
                 <section ><input type="text" class="inputmsg" name="message" id="message"></section>
                <section><input type="button" class="send" id="disable" value="send" ></section> 
                <input type="text" name="recieverid"  id="data" value="yes" class="meta">
                <input type="text" name="senderid"  id="data2" class="meta">
        </form>
           
        </div>
    </div>
  
    <script src="/javascript/vanilla-tilt.babel.min.js"></script>
    <script>
      //var msg_box
     // var ress = []
     // var msg_container
    //  var dellete
     // var delete_container
     // var msg
    //  var date
      var load = true
      setTimeout(()=>{
        load = false
      },30)

     
       //the disconnect link

      var logout = document.getElementById("disconect")
      logout.onclick = function (){
       
        window.location.href = "/"
      }
      
      //check the user
      <% profiles.forEach((el)=>{ %>
        var ids = "<%= el._id%>"
        var user = "<%= coockie%>"
        if(user==ids)
        {
          document.getElementById("uname").innerHTML = "<%= el.name%>"
          document.getElementById("ucomment").innerHTML = "<%= el.comment %>"
          document.getElementById("user_icon").innerHTML = "<%= el.name%>".charAt(0)
        }


      <%}) %>

    

      /**********************
      *message box refresher******
      ***********************/                                                  
        var refress = true
        setInterval(()=>{
            if (refress) {
                 refresh() 
                 refress = false 
            }
            else{
              document.getElementById("disable").disabled = false
            }
 
                        
        },500)
        
function refresh(){
                var reqq = new XMLHttpRequest()
                reqq.responseType = "json"
                reqq.onload = function () {
                    refress = true
                    //alert("refreshed")
                     ress = reqq.response.name
                    var button = document.getElementById("compose") 
                    button.innerHTML = " " 
                    refreshh(ress) 

                /*    ress.forEach( (element) => { 
        if(((getCookie("recieverid") == element.recieverid ) && (getCookie("userID") ==  element.senderid)) || ((element.senderid == getCookie("recieverid")) && (element.recieverid == getCookie("userID"))))
        
        {
           // alert(getCookie("recieverid"))
            //creat the message elements             
             var elle = document.createElement("div");
            var msg = document.createElement("div");
            var date = document.createElement("div");
            //setting the infos
            msg.innerHTML = element.message ;
            date.innerHTML = element.date ;
            
            contact.innerHTML = getCookie("name")
            //settting the attributes
            msg.setAttribute("class","msg")
            date.setAttribute("class","date")
            elle.setAttribute("class","elle")
            //appending the elements
            elle.appendChild(msg);
            elle.appendChild(date); 
            button.appendChild(elle);

            //diferentiate between senders and reciever message
            if(getCookie("userID") == element.senderid)
            {elle.setAttribute("style","float: right")}

               
        }
        
       
     }); */
                }                
               reqq.open("POST", '/refresh')
               reqq.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
               reqq.send("var=john")
               //alert("sent")

}

              
           



var disable = document.getElementById("disable")
disable.disabled = false

disable.addEventListener("click",()=>{

 var message = document.getElementById('message').value
 var reciever = document.getElementById('data').getAttribute('value')
 var sender = document.getElementById('data2').getAttribute('value')
  var msg = "message="+message+"&"+
            "recieverid="+reciever+"&"+
            "senderid="+sender;
document.getElementById('message').value = ""
            
           

  //make a connection to server and send the message
  var sendMessage = new XMLHttpRequest()
  sendMessage.onload = function () {refress = true; document.getElementById("disable").disabled = true}
  sendMessage.open("POST", "/sendMessage")
  sendMessage.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded")
  sendMessage.send(msg)
  document.getElementById("disable").disabled = false

})
if(<%= begin %>)
{
document.getElementById("mydiv").style.display = "none";
}
var shrink = document.getElementById("shrink")
shrink.addEventListener('click',()=>{
document.getElementById("mydiv").style.display = "none";
})
var disable = document.getElementById("disable")
disable.disabled = false
//set the coockie%
setCookie("userID","<%= coockie%>",2)
//js funtioning check


//function to refresh message box

function refreshh(element){
  var button = document.getElementById("compose") 
       button.innerHTML = " " 
  element.forEach( (element) => { 
    if((((getCookie("recieverid") == element.recieverid ) && (getCookie("userID") ==  element.senderid)) || ((element.senderid == getCookie("recieverid")) && (element.recieverid == getCookie("userID")))) && (getCookie("userID") != element.delete) )
   
        {
          
           // alert(getCookie("recieverid"))
            //creat the message elements             
            var  msg_box = document.createElement("div");
            var  msg_container = document.createElement("div")
            var  delete_container = document.createElement("div")
            var  dellete = document.createElement("img")
            var  msg = document.createElement("div");
            var  date = document.createElement("div");

            //setting the infos
            msg.innerHTML = element.message ;
            date.innerHTML = element.date ;
            contact.innerHTML = getCookie("name")

            //settting the attributes
            msg.setAttribute("class","msg")
            date.setAttribute("class","date")
            msg_box.setAttribute("class","msg_box")
            msg_container.setAttribute("class","msg_container")
            delete_container.setAttribute("class","delete_container")
            dellete.setAttribute("class","dellete")
            dellete.setAttribute("src","images/delete.png")
            msg_container.setAttribute("onclick","set(dellete)")
            dellete.setAttribute("id",element._id)

            //appending the elements
            msg_container.appendChild(msg);
            msg_container.appendChild(date);
            delete_container.appendChild(dellete)
            msg_box.appendChild(msg_container)
            msg_box.appendChild(delete_container)
             //diferentiate between senders and reciever message
             if(getCookie("userID") == element.senderid)
            {msg_box.setAttribute("style","float: right")
            msg_box.innerHTML=""
            msg_box.appendChild(delete_container)
            msg_box.appendChild(msg_container)
            }
            button.appendChild(msg_box);

            
            
            //some actions
            msg_box.onmouseover = function (){set(element._id)}              
            msg_box.onmouseout = function(){unset(element._id)}
            msg_box.onclick = function(){pop_menu(element._id,element.delete,element.message)}
            dellete.onclick = function(){ del(element._id,"")}

           

        }
        
})
}
function set(del,dell)
{
 
      document.getElementById(del).classList.add("slide_up")
  
}
function unset(del)
{
  document.getElementById(del).classList.remove("slide_up")
}
function del(del,delll)
{

    var dell = new XMLHttpRequest()
    dell.onload = function (){alert(dell.response)}
    dell.open("POST","/delete")
    dell.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
    dell.send("msg="+del+"&user="+getCookie("userID")+"&delete="+delll)
    alert("deleted")
}
function pop_menu(id,el,msgs){
  //get the pop up
  var chat_aria = document.getElementById("move")

  //define the menu elements
  var menu = document.createElement('div')
  var deleteForMe = document.createElement('div')
  var deleteForAll = document.createElement('div')
  var copyMessage = document.createElement('div')
  var editAndResend = document.createElement('div')
  var menuContainer = document.createElement('div')
  var deletForMeIcon = document.createElement('img')
  var deleteForAllIcon = document.createElement('img')
  var copyMessageIcon = document.createElement('img')
  var editAndResendIcon = document.createElement('img')
  var deleteForMeContainer = document.createElement('div')
  var deleteForAllContainer = document.createElement('div')
  var copyMessageContainer = document.createElement("div")
  var editAndResendContainer = document.createElement("div")
  var deleteForMeIconContainer = document.createElement("div")
  var deleteForAllIconContainer = document.createElement("div")
  var copyMessageIconContainer = document.createElement("div")
  var editAndResendIconContainer = document.createElement("div")


  //assigning the inner htmls
  deleteForMe.innerHTML = "Delete for me"
  deleteForAll.innerHTML = "Delete for all"
  copyMessage.innerHTML = "Copy Message"
  editAndResend.innerHTML = "Edit and resend"
  deletForMeIcon.setAttribute("src","images/deleteForMeIcon.png")
  deleteForAllIcon.setAttribute("src","images/deleteForAllIcon.png")
  copyMessageIcon.setAttribute("src","images/copyIcon.png")
  editAndResendIcon.setAttribute("src","images/editIcon.png")

  //setting the classes and attributes
  menu.classList.add("menu")
  menuContainer.classList.add("menuContainer")
  deleteForMe.classList.add("menuItem")
  deleteForAll.classList.add("menuItem")
  copyMessage.classList.add("menuItem")
  editAndResend.classList.add("menuItem")
  deleteForMeContainer.classList.add("menuitemContainer")
  deleteForAllContainer.classList.add("menuitemContainer")
  copyMessageContainer.classList.add("menuitemContainer")
  editAndResendContainer.classList.add("menuitemContainer")
  deletForMeIcon.classList.add("icon")
  deleteForAllIcon.classList.add("icon")
  copyMessageIcon.classList.add("icon")
  editAndResendIcon.classList.add("icon")
  deleteForMeIconContainer.classList.add("iconContainer")
  deleteForAllIconContainer.classList.add("iconContainer")
  copyMessageIconContainer.classList.add("iconContainer")
  editAndResendIconContainer.classList.add("iconContainer")
  deleteForMeContainer.classList.add("first")
  editAndResendContainer.classList.add("last")



  




  //appending my children
  deleteForMeIconContainer.appendChild(deletForMeIcon)
  deleteForAllIconContainer.appendChild(deleteForAllIcon)
  copyMessageIconContainer.appendChild(copyMessageIcon)
  editAndResendIconContainer.appendChild(editAndResendIcon)
  deleteForMeContainer.appendChild(deleteForMeIconContainer)
  deleteForMeContainer.appendChild(deleteForMe)
  deleteForAllContainer.appendChild(deleteForAllIconContainer)
  deleteForAllContainer.appendChild(deleteForAll)
  copyMessageContainer.appendChild(copyMessageIconContainer)
  copyMessageContainer.appendChild(copyMessage)
  editAndResendContainer.appendChild(editAndResendIconContainer)
  editAndResendContainer.appendChild(editAndResend)
  menuContainer.appendChild(deleteForMeContainer)
  menuContainer.appendChild(deleteForAllContainer)
  menuContainer.appendChild(copyMessageContainer)
  menuContainer.appendChild(editAndResendContainer)
  menu.appendChild(menuContainer)
  chat_aria.appendChild(menu)


  chat_aria.onmouseleave = function (){
    chat_aria.removeChild(menu)
  }
  deleteForMeContainer.onclick = function(){
    del(id,"")
  }
  deleteForAllContainer.onclick = function(){
    del(id,"definitely")
  }
  copyMessageContainer.onclick = function(){
    navigator.clipboard.writeText(msgs)
    alert("copied message '"+msgs+"' to clip board.")
  }
  editAndResendContainer.onclick=function(){
    document.getElementById('message').value = msgs
  }
  chat_aria.onclick = function(){
    setTimeout(()=>{
      chat_aria.removeChild(menu)
    },300)
  }
  
  
  


}

//fuction for adding message to chat box
function func(name,comment,sid)
{
  document.getElementById("mydiv").style.display = "block";
  setCookie("recieverid",sid,2)
  setCookie("name",name,2)
    //declare meta 
    var disable = document.getElementById("disable")
    var contact = document.getElementById("contact")
    var button = document.getElementById("compose")  
    var user = document.getElementById("data2")
    var friendid = document.getElementById("data")
    friendid.setAttribute("value",sid)
    user.setAttribute("value",getCookie("userID"))
    user.dataset.state = 'valid' 
    friendid.dataset.state = 'valid'
    contact.innerHTML = name
  // alert("name :"+name+" comment:"+comment+"secondary id:"+sid+" user id:"+getCookie("userID"))
     //wipe out the chat area
     button.innerHTML = " " 
    //loop through all messages in the data base and selecting the right 
    if (ress == undefined){
      
    }
    refreshh(ress)
   /*     <% message.forEach(element => { %>
       // alert("the")
       // if (((sid == '<%=element.recieverid %>') && (getCookie("userID") == '<%= element.senderid%>')) || (('<%=element.senderid%>'==sid) && ('<%=element.recieverid%>'== getCookie("userID"))) )
        if(((getCookie("recieverid") == '<%=element.recieverid %>') && (getCookie("userID") == '<%= element.senderid %>')) || (('<%=element.senderid%>' == sid) && ('<%=element.recieverid%>' == getCookie("userID"))))
       {// alert("one")
            //creat the message elements             
             var elle = document.createElement("div");
            var msg = document.createElement("div");
            var date = document.createElement("div");
            //setting the infos
            msg.innerHTML = "<%= element.message %>";
            date.innerHTML = "<%=element.date %>";
            //settting the attributes
            msg.setAttribute("class","msg")
            date.setAttribute("class","date")
            elle.setAttribute("class","elle")
            //appending the elements
            elle.appendChild(msg);
            elle.appendChild(date); 
            button.appendChild(elle);
              // alert("checked")

               //diferentiate between senders and reciever message
             if(getCookie("userID") == "<%=element.senderid%>")
            {elle.setAttribute("style","float: right")}
               
        }

    <% }); %>*/
    
}

    //setting coockies
function setCookie(cname, cvalue, exdays) {
const d = new Date();
d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
let expires = "expires="+d.toUTCString();
document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
//get coockies function
function getCookie(cname) {
let name = cname + "=";
let ca = document.cookie.split(';');
for(let i = 0; i < ca.length; i++) {
let c = ca[i];
while (c.charAt(0) == ' ') {
c = c.substring(1);
}
if (c.indexOf(name) == 0) {
return c.substring(name.length, c.length);
}
}
return "";
}
//checking cookie function

function checkCookie() {
let user = getCookie("username");
let use
if (user = "") {
alert("Welcome again " + user);
} else {
user = prompt("Please enter your name:"+"<%= coockie%>ttt", "");
if (user != "" && user != null) {
setCookie("username", user, 365);
}
}
}

//dragable mouse pop up functions

// Make the DIV element draggable:
dragElement(document.getElementById("mydiv"));

function dragElement(elmnt) {
var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
if (document.getElementById("move")) {
// if present, the header is where you move the DIV from:
document.getElementById("move").onmousedown = dragMouseDown;
} else {
// otherwise, move the DIV from anywhere inside the DIV:
elmnt.onmousedown = dragMouseDown;
}

function dragMouseDown(e) {
e = e || window.event;
e.preventDefault();
// get the mouse cursor position at startup:
pos3 = e.clientX;
pos4 = e.clientY;
document.onmouseup = closeDragElement;
// call a function whenever the cursor moves:
document.onmousemove = elementDrag;
}

function elementDrag(e) {
e = e || window.event;
e.preventDefault();
// calculate the new cursor position:
pos1 = pos3 - e.clientX;
pos2 = pos4 - e.clientY;
pos3 = e.clientX;
pos4 = e.clientY;
// set the element's new position:
elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
}

function closeDragElement() {
// stop moving when mouse button is released:
document.onmouseup = null;
document.onmousemove = null;
}
}

    
    </script>
</body>
</html>